table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.main-container{
  padding: 50px;
}

.header-container{
  display: flex;
  flex-direction: column;
}
