<div class="main-container">
  <app-user-icon [text]="user.name![0] + user.lastName![0]"></app-user-icon>
  <p class="label">{{user.name}} {{user.lastName}}</p>
  <p class="label">{{user.user}}</p>
  <p class="label">{{user.birthDate | date:'longDate'}} </p>
  <p>Cambia tu puesto de trabajo seleccionando uno de la lista:</p>
  <mat-form-field appearance="outline">
    <mat-label>Puesto de trabajo</mat-label>
    <mat-select [formControl]="roleSelect" (selectionChange)="changeRole()">
      @for (role of roles; track role) {
        <mat-option [value]="role" [disabled]="role === 'sw admin'">{{role | titlecase}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="warn" (click)="abandon()">Abandonar compañía</button>
</div>
